body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: black;
  position: absolute;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.wrapper {
  display: flex;
  width: 100%;
}

.navbar {
  width: 250px;
  height: 100%;
  background-color: darkgray;
}
i {
  margin-right: 15px;
  font-size: 22px;
}
i:hover {
  color: red;
}

nav a.nav-link span:hover {
  color: red;
}

a.navbar-brand span:hover {
  color: red;
}

.page-container {
  margin-top: 40px;
  background-color: gray;
}
#podcastCards figure.user-card {
  display: flex;
  flex-direction: row;
  /* background: #ffffff; */
  padding: 20px;
  /* border-top: 3px solid #f2f2f2;
  border: 1px solid #e1e5f1; */
  text-align: center;
}
figure.user-card.green {
  border-top: 3px solid #3ecfac;
}

#podcastCards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#podcastCards > li {
  padding: 10px;
  margin: 10px;
  margin-bottom: 32px;
  width: calc(100% / 3 - 40px);
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: gray;
}
